<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron" style="text-align:center">
            <h1 class="display-4">Welcome to DB manager!</h1>
            <hr class="my-4">
            <p>Select one of the options below</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/database" role="button">Create Database</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/table" role="button">Create Table</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/object" role="button">Add a sample object to table</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/getAll" role="button">Get all objects from table</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/delete" role="button">Delete an object from table</a>
            </p>
            <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/update" role="button">Update an object from table</a>
            </p>
        </div>
    </div>
</body>
</html>